services:
  tf_serving:
    image: tensorflow/serving:2.13.0
    ports:
      - "8501:8501"
    volumes:
      - ./models/potato_model:/models/potato_model
    environment:
      - MODEL_NAME=potato_model

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    depends_on:
      - tf_serving

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - api
